
:root{
    --primary: rgb(0, 149, 253);
    --secondary: #885100;
    --accent: rgb(255,253,23);
    --white: rgb(240, 255, 242);
    --black: #272727;
}
body{
    background-color: var(--primary);
}
.text-primario{
    color: var(--primary);
}
.text-secondario{
    color: var(--secondary);
}
.text-accento{
    color: var(--accent);
}
.text-whiteCus{
    color: var(--white);
}
.text-blackCus{
    color: var(--black);
}
.bg-primario{
    background-color: var(--primary);
}
.bg-secondario{
    background-color: var(--secondary);
}
.bg-accento{
    background-color: var(--accent);
}
.bg-whiteCus{
    background-color: var(--white);
}
.bg-blackCus{
    background-color: var(--black);
}
.border-primario{
    background-color: var(--primary);
}
.border-secondario{
    background-color: var(--secondary);
}
.border-accento{
    background-color: var(--accent);
}
.border-whiteCus{
    background-color: var(--white);
}
.border-blackCus{
    background-color: var(--black);
}

*{
    font-family: 'Ubuntu', sans-serif;
}
h1, h2, h3, .h1, .h2, .h3 {
    font-family: 'Shantell Sans', cursive;
}

/* ------------------------------- */
.header{
    background: linear-gradient(145deg, rgba(0, 159, 183, 0.384), rgba(240, 255, 242, 0.209)), url('./media/header.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
h1{
    margin-top: 100px;
    font-size: 80px;
}

@media  screen and (max-width:900px){
    h1{
        padding-top: 50px;
        font-size: 60px;
    }
}

/* navbar */
.nav-link{
    color: var(--white );
}
.logoYellow{
    width: 40px;
}
.logoBlue{
    width: 40px;
}
.btn-Custom{
    border: 2px solid var(--accent);
    transition: 0.8s;
}
.btn-Custom:hover{
    border: 2px solid var(--white);
}
#navIcon{
    transition: 0.4s;
}
#mainNav{
    transition: 0.8s;
}

.increments-numbers{
    font-size: 90px;
    color: var(--white);
    font-weight: 700;
}
/* SWIPER */
.swiper {
    /* width: 600px; */
    height: 300px;
  }
.card-feedback{
    height: 200px;
    width: 300px;
    border: 2px solid var(--accent);
    border-radius: 20px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* mouse enter */
  .col-custom{
    color: var(--white);
    border: 3px solid var(--accent);
    border-radius: 10px;
    padding: 20px;
    transition: 0.4s;
  }
  .col-custom:hover{
    background-color: var(--white);
    color: var(--black);
    transform: scale(1.2);
    border: 3px solid var(--primary);
    
  }
  .h-footer-cus{
    min-height: 50px;
  }

  /* Annunci */
  .m-filterSection{
    /* margin-top: 200px; */
  }

  .announcementCard{
    width: 250px;
    min-height: 300px;
    border: 2px solid var(--black);
    border-radius: 20px;
    background-color: var(--white);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  #priceInput{
    width: 100%;
  }
  .inputNumber{
    color: var(--secondary);
    font-weight: 900;
    font-size: 40px;
  }
  .card-head img{
    border-radius: 50%;
    height: 100px;
  }

  #scroller{
    position:fixed;
    bottom: 8%;
    right: 5%;
    z-index: 3;
  }
